body{
    background: linear-gradient(to bottom,#141E30,#243B55);
    color: rgba(184, 182, 182, 0.788);
    font-family:poppins;
    height: 10000vh;
    width:100%;
}
.navs{
    display:flex;
    font-family: inherit;
    gap:20px;
    align-items: center;
    justify-content: center;
    position:sticky;
    margin-top: 20px;
    animation: navss 1s;
}
@keyframes navss{
    from{
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.navs a{
    color: aliceblue;
    text-decoration: none;
}
.navs a:hover{
    opacity: 0.3;
}
.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
    gap: 60px;
}
.mainbody img{
    width: 50px;
}
.mainbody a{
    text-decoration: none;
    color: white;
}
.mainbody a:hover{
    opacity: 0.3;
}
.mainbody div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    animation: pop 1s;
}
.message-box-container {
  margin-top: 20px;
  display: flex; 
  align-items: center; 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-image: linear-gradient(to right,#141E30,#243B55);
}

.message-input {
  flex-grow: 1; 
  border: none; 
  padding: 10px;
  font-size: 16px;
  resize: vertical; 
  outline: none; 
  background-color: white; 
}

.message-input::placeholder {
  color: #999;
}

.send-button {
  background-color: #ffffff;
  color: rgb(88, 27, 27);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.send-button:hover {
  background-color: #0056b3;
}

.message-input:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
@keyframes left-right{
    from{
        opacity: 0;
        transform: translateX(-200px) scale(0.7);
    }
    to{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes pop{
    from{
        transform: scale(0.1);
    }
    to{
        transform:scale(1);
    }
}
