.main{
    background-image: url("images/main\ bg.jpg");
    background-color: #141E30;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: rgba(184, 182, 182, 0.788);
    font-family:poppins;
    height: 800px;
    margin-top: 0px;
}
.navs{
    display:flex;
    font-family: inherit;
    gap:20px;
    align-items: center;
    justify-content: center;
    position:sticky;
    margin-top: 20px;
    animation: navss 1s;
}
@keyframes navss{
    from{
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.navs a{
    color: aliceblue;
    text-decoration: none;
}
.navs a:hover{
    opacity: 0.3;
}
.mainbody{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.main_content{
    background-color: rgba(48,68,85,0.9);
    color: rgb(255, 255, 255);
    width: 900px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    margin-top: 250px;
    text-align: center;
    animation: cont 1s;
    animation-delay: 0.2s;
}
@keyframes cont{
    from{
        opacity: 0;
        transform: translateY(50px)scale(0.4);
    }
    to{
        opacity: 0.9;
        transform: translateY(0px) scale(1);
    }
}
