body{
    background-image: url("images/\ bg.jpg");
    background-color: #141E30;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: rgba(184, 182, 182, 0.788);
    font-family:poppins;
    height: 100vh;
    margin-top: 0px;
}
.navs{
    display:flex;
    font-family: inherit;
    gap:20px;
    align-items: center;
    justify-content: center;
    position:sticky;
    margin-top: 20px;
    animation: navss 1s;
}
@keyframes navss{
    from{
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.navs a{
    color: aliceblue;
    text-decoration: none;
}
.navs a:hover{
    opacity: 0.3;
}
.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.mainbody span{
    color: white;
    animation: pop 1s;
    text-align: center;
}
.mainbody img{
    width: 300px;
    animation: left-right 1s;
}
.mainbody p{
    animation: pop 1s;
}
.education div{
    display: flex;
    flex-direction: row;
    gap:120px;
    align-items: center;
    margin-top: 50px;
    margin-left: 70px;
}
.skill div{
    display: flex;
    flex-direction: row;
    gap:120px;
    align-items: center;
    margin-top: 50px;
    margin-left: 70px;
}
@keyframes left-right{
    from{
        opacity: 0;
        transform: translateX(-200px) scale(0.7);
    }
    to{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes pop{
    from{
        transform: scale(0.1);
    }
    to{
        transform:scale(1);
    }
}
